/*avatar*/

.avatar {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd;
}


/*signup button*/

.signup {
    color: blue;
    text-decoration: underline;
}


/*login form*/

form {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid#ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

form>input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

form>button {
    background-color: blue;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform.4s;
}

form>button:hover {
    background-color: #555;
    transform: scale(1.2);
}

.forget-password {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    text-align: center;
}

body {
    background-image: url("../IconImage/turtule.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}